<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%d{dd/MM/yyyy HH:mm:ss.SSS} [%level]) [%logger - %file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</Configuration>